
body{
    margin:32px;
   }
   
   .input{
     margin-top:32px;
     height:300px !important;
   }
   
   .btn{
     width:100%;
     margin-bottom:32px;
   }
   
   .title{
    border-bottom: 2px solid blue ;
    padding-bottom:10px;
    font-weight: bold;
   }

   .time1{
     padding-top:32px;
     text-align: center;
     width:300px;
     margin-right:32px;
     margin-bottom:32px;
   }
   
   .time2{
      padding-top:32px;
     text-align: center;
     width:300px;
     margin-right:32px;
     margin-bottom:32px;
   }
   
   .flex{
     display: flex;
     justify-content:center;
   }

   .card{
     padding-top:32px;
     margin-right:32px;
   }

   @media only screen and (max-width: 1366px) {
    .input{
      height:150px !important;
    }
  }