
body{
    margin:32px;
    background-color: #131524;
   }
   
   h1{
     color:#fff;
     margin-bottom: 64px;
   }
   
   .input{
     margin-top:32px;
     height:300px !important;
     width: 100%;
   }
   
   .btn{
     margin-bottom:32px;
     text-transform: uppercase;
     font-weight: bold;
     border-radius: 0;
   }

   .clicked {
     display: none;
   }

   .wrapper-flex{
     width:632px;
     margin: 0 auto;
   }
   
   .title{
    border-bottom: 2px solid #fff;
    padding-bottom:10px;
    font-weight: bold;
    font-size: 24px;
   }

   .time1, .time2{
     padding-top:32px;
     text-align: center;
     margin-bottom:32px;
     width: 100%;
   }
   
   .flex{
     display: flex;
     justify-content:center;
     margin: 0 -16px;
   }

   .card{
     padding-top:32px;
     background-color: #1A1A2B;
     margin: 0 16px;
     color: #fff;
     width: 100%;
   }

   @media only screen and (max-width: 1366px) {
    .input{
      height:150px !important;
    }
  }